.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: #f8f9fa;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container input {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-container button {
  width: 260px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #0f172a;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.login-container button:hover {
  background: #1e293b;
}